@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@600&family=Roboto+Mono:wght@300;500&display=swap');
/* colours */
:root {
    --white: #d8e2dc;
    --purple: #907AA7;
    --pink: #ffcad4;
    --bg: #383942;
    --green: #A4CB9B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto Mono", sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
}

a {
    color: var(--white);
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

/* Hero Section */
#hero {
    height: 100vh;
    width: 100%;
}

#hero .container {
    max-width: 1100px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#hero .middle .intro {
    font-family: "Roboto Mono", sans-serif;
    font-size: 5.5rem;
    font-weight: 900;
    color: var(--green);
}

#hero .middle .description {
    margin-top: 2rem;
    font-family: "Roboto Mono", sans-serif;
    font-size: 2rem;
    color: var(--pink);
    letter-spacing: 0.25rem;
}

#hero .middle .socials {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    color: var(--white);
}

#hero .middle .socials a {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    cursor: pointer;
    margin-right: 1rem;
    background-color: #67687d;
}

#hero .middle .socials a:hover {
    transition: .3s;
    color: var(--pink);
}

/* End Hero Section */

/* Experiences section */
#workexp .container {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#workexp .exptitle {
    font-size: 4rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
}

#workexp .exptitle span {
    color: var(--pink);
}

#workexp .exptop p {
    font-size: 2rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: var(--white);
    max-width: 1000px;
}

#workexp .expbottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    max-width: 2000px;
}

#workexp .expitem {
    flex-basis: 80%;
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    justify-content: center;
	padding: 30px;
	border-radius: 15px;
	max-width: 550px;
	margin: 30px;
	position: relative;
}

#workexp .expitem:nth-child(1):hover {
    background-color: rgb(255, 204, 213, 35%);
}

#workexp .expitem:nth-child(2):hover {
    background-color: rgb(164, 203, 155,35%);
}

#workexp .expitem:nth-child(3):hover {
    background-color: rgb(238, 238, 238, 35%);
}

#workexp .expitem:nth-child(4):hover {
    background-color: rgb(144, 122, 167, 35%);
}

#workexp .expitem h2 {
    font-size: 2.25rem;
    text-align: left;
    font-weight: 900;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    color: var(--white);
}

#workexp .expitem p {
    font-size: 2rem;
    text-align: left;
    color: var(--white);
}

#workexp .expbottom .expitem .icon {
    color: var(--white);
    padding: 0.8rem;
}
/* End Experiences section */

/* Projects section */
#projects .container {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projheader h1 {
    margin-bottom: 50px;
}

#projects .sectiontitle {
    font-size: 4rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
}

#projects .sectiontitle span {
    color: var(--pink);
}

#projects .allprojects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .projectitem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}

/* End Projects section */