@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@600&family=Roboto+Mono:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Montserrat:wght@700;900&family=Poppins:wght@600&display=swap');

/* colours */
:root {
    --white: #d8e2dc;
    --purple: #907AA7;
    --pink: #ffcad4;
    --bg: #383942;
    --green: #A4CB9B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "EB Garamond", sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
}

h1, h2 {
    font-family: "Roboto Mono",sans-serif;
}
a {
    color: var(--white);
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 1000;
}

#header .container {
    min-height: 10vh;
    background-color: transparent;
}

#header .logo {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 15px;
    color: var(--white);
}

#header .logo span {
    color: var(--pink);
}

#header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}

#header .list ul {
    font-family: "Roboto Mono", sans-serif;
    list-style: none;
    position: absolute;
    width: 30vw;
    height: 100vh;
    top: 0;
    left: 100%;
    background-color: #eee;
    display: flex;
	flex-direction: column;
	justify-content: center;
    overflow: hidden;
	align-items: center;
    transition: 0.5s ease left
}

#header .list ul.active {
    left: 70%;
}

#header .list ul a{
    font-size: 2.25rem;
    font-weight: 500;
    color: var(--bg);
    text-transform: uppercase;
    padding: 20px;
    display: block;

}

#header .list ul a:hover {
    color: var(--pink);
}

#header .hamburger {
    height: 40px;
	width: 40px;
	display: inline-block;
	border: 2px solid var(--white);
	border-radius: 50%;
    z-index: 100;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    margin: 30px;
}

#header .hamburger .bar{
    height: 3px;
    width: 20px;
    position:relative;
    background-color: var(--white);
    z-index: -1;
}

#header .hamburger .bar::before,
#header .hamburger .bar::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: var(--white);
    transition: 0.3s ease;
    transition-property: bottom, top;
}

#header .hamburger .bar::before {
    top: 8px;
}

#header .hamburger .bar::after {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    top: 0px;
}

#header .hamburger.active .bar::after {
    bottom: 0px;
}
/* End Header */

/* Hero Section */
#hero {
    height: 100vh;
    width: 100%;
}

#hero .container {
    max-width: 65vw;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#hero .middle .intro {
    font-family: "Roboto Mono", sans-serif;
    font-size: 5.5rem;
    font-weight: 900;
    color: var(--green);
}

#hero .middle .description {
    margin-top: 2rem;
    font-family: "Roboto Mono", sans-serif;
    font-size: 2rem;
    color: var(--pink);
    letter-spacing: 0.25rem;
}

#hero .middle .socials {
    margin-top: 1rem;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    color: var(--white);
}

#hero .middle .socials a {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    cursor: pointer;
    margin-right: 1rem;
    background-color: #67687d;
}

#hero .middle .socials a:hover {
    transition: .3s;
    color: var(--pink);
}

/* End Hero Section */

/* Experience Section */
#workexp .container {
    flex-direction: column;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}

#workexp .exptitle {
    font-size: 4rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
}

#workexp .exptitle span {
    color: var(--pink);
}

#workexp .exp-top p {
    font-size: 2rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: var(--white);
    max-width: 55vw;
}

#workexp .exp-bottom {
    display: flex;
    padding: 30px;
	margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

#workexp .tabs {
    display: flex;
}

#workexp .tabs-sidebar {
    width: 150px;
    flex-shrink: 0;

}

#workexp .tabs-button {
    display: block;
    color: #d8e2dc;
    font-weight: 500;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-left: 2px solid rgb(216, 226, 220, 30%);
    padding: 15px;
}

#workexp .tabs-button-active {
    font-weight: bold;
    border-left: 2px solid #d8e2dc;
    background-color: rgb(103, 104, 125, 35%);
    padding: 15px;
}

#workexp .tabs-content {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 0.8rem;
    display: none;
}

#workexp .tabs-content-active {
    display: block;
}

#workexp .tabs-content h2 {
    font-size: 1.75rem;
    text-align: left;
    font-weight: 900;
    padding-bottom: 0.75rem;
    color: var(--white);
}

#workexp .tabs-content h2 span {
    color: var(--pink);
}

#workexp .tabs-content h3 {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 500;
    padding-bottom: 0.75rem;
    color: var(--white);
}

#workexp .tabs-content p {
    font-size: 1.25rem;
    text-align: left;
    color: var(--white);
}

#workexp .tabs-content .icon {
    color: var(--white);
    padding: 0.8rem;
    text-align: left;
}

/*
#workexp .tab {
    float: left;
    background-color: #67687d;
    width: auto;
    height: auto;
}

#workexp .tab button {
    display: block;
    background-color: #67687d;
    color: var(--white);
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

#workexp .tab button:hover {
    background-color: #383942;
}

#workexp .tab button--active {
    font-weight: bold;
    border-right: 2px solid #ffcad4;
    background-color: #7d7e95;
}




/* End Experiences section */

/* Projects section */
#projects .container {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projheader h1 {
    margin-bottom: 10px;
}

#projects .sectiontitle {
    font-size: 4rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
}

#projects .sectiontitle span {
    color: var(--pink);
}

#projects .allprojects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
}

#projects .projectitem {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0px 15px;
    border-radius: 15px;
    max-width: 400px;
    position: relative;
}

#projects .projectinfo {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
}

#projects .projectinfo h1 {
   font-size: 2.25rem;
   text-align: left;
   font-weight: 900;
}

#projects .projectinfo h2 {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 500;
}

#projects .projectinfo p {
    text-align: left;
    margin-top: 10px;
    margin-bottom:10px;
    font-size: 1.5rem;
}

#projects .links {
    display: flex;
    font-size: 1.5rem;
    text-align: center;
}

#projects .links p {
    letter-spacing: 2px;
}

#project .links a{
    margin-top: 30px;
    font-size: 1.8rem;
}

#projects .links a:hover {
    color: var(--pink);
}

#projects .projectimg {
    cursor: pointer;
    z-index: 1;
    transition: transform .2s; 
    margin-top: 10px;
    margin-bottom: 10px;
}

#projects .projectimg:hover {
    transform: scale(1.05);
}

/* End Projects section */

/* About Me section */
#about .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    padding: 100px 20px;
    margin: 0 auto;
}

#about .leftcolumn {
    width: 300px;
    height: 400px;
    max-width: 450px;
}

#about .rightcolumn {
    max-width: 550px;
    padding: 50px;
}

#about .leftcolumn .profilepic {
    padding: 40px;
}
#about .rightcolumn h1 {
    font-size: 4rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: left;
}

#about .rightcolumn h1 span {
    color: var(--pink);
}

#about .rightcolumn h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 15px;
    color: var(--white);
    text-align: left;
}

#about .rightcolumn p {
    margin-bottom: 15px;
    color: var(--white);
    text-align: left;
    font-size: 1.25rem;
}

#about .rightcolumn a {
    float: left;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid var(--pink);
    border-radius: 5px;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 15px;
    transition: 0.3s ease;
    transition-property: background-color;
}

#about .rightcolumn a:hover {
    background-color: rgb(255, 202, 212, 35%);
}
/* End About Me Section */

/* Footer */
#footer {
    background-color: transparent;
    color: var(--white);
}

#footer .container {
    flex-direction: column;
    min-height: 150px;
    padding-top: 20px;
    padding-bottom: 15px;
}

#footer .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: var(--white);
}

#footer .socials a {
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    cursor: pointer;
    background-color: #67687d;
}

#footer .socials a:hover {
    transition: .3s;
    color: var(--pink);
}

#footer .logo {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--white);
}

#footer .logo span{
    color: var(--pink);
}
/* End Footer */

/* desktop navbar display */
@media screen and (min-width: 1200px) {
    #header .hamburger {
        display: none;
    }

    #header .list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        flex-direction: row;
        background-color: transparent;
    }
    
    #header .list ul li {
        display: inline-block;
    }

    #header .list ul li a {
        color: var(--white);
    }


}
/* end desktop navbar display */